body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

#container {
    margin: 0px auto;
    width: 300px;
}
canvas {
    background-color: #004579;
    width: 300px;
    overflow: visible;
    z-index: 1;
}

.nextStoneContainer {
    background-color: #004579;
    position: absolute;
    left: 0px;
    color: #fff;
    padding: 2em;
    z-index: -1;
}
.nextStone {
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

.nstet-i { background-image: url(resources/images/tet_i.png); }
.nstet-j { background-image: url(resources/images/tet_j.png); }
.nstet-l { background-image: url(resources/images/tet_l.png); } 
.nstet-o { background-image: url(resources/images/tet_o.png); } 
.nstet-s { background-image: url(resources/images/tet_s.png); }
.nstet-t { background-image: url(resources/images/tet_t.png); } 
.nstet-z { background-image: url(resources/images/tet_z.png); }